/* то ещё говнокодище */
.start_screen {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.header {
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 60px;
}
.logo {
    position: absolute;
    left: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.l_1 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
}
.l_2 {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 10px;
}
.nav_menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.n_1:hover {
    color: #FAFAFA;
    border-color: #F1CDB3;
}
.n_2:hover {
    color: #FAFAFA;  
    border-color: #F1CDB3;
}
.n_1 {
    color: #CDCDCD;
    display: flex;
    margin-right:35px ;
    border-bottom: 3px solid #ffffff00;
    transition: border-color 0.2s linear, color 0.2s linear;
    
}
.n_2 {
    color: #CDCDCD;
    display: flex;
    border-bottom: 3px solid #ffffff00;
    transition: border-color 0.2s linear, color 0.2s linear;
}
.a_1 {
    background-color: #F1CDB3;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 88.89%;
    bottom: 0%;
    transition: width 60px 0.2s;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    }